![CRISP_DM](crisp_dm2.png)

# Business Understanding

We would like to track the COVID-19 Virus spread across the countries and with personal info.

The general information is not so relevant for me.
I would like to have a deep dive in local development of the spread.

# Data Understanding

* Sources of data are:
* Robert Koch Institute, web scraping : https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html
* Johns Hoppkins University (GITHUB) : https://github.com/CSSEGISandData/COVID-19.git
* Rest API services to receive data : https://npgeo-corona-npgeo-de.hub.arcgis.com/

In [1]:
import pandas as pd

In [2]:
data_path = (r'C:\Users\patka\enterprise_data_science-covid-19\data\raw\csse_covid_19_data\csse_covid_19_time_series\time_series_covid19_confirmed_global.csv')
pd_raw=pd.read_csv(data_path)

pd_raw

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/8/22,6/9/22,6/10/22,6/11/22,6/12/22,6/13/22,6/14/22,6/15/22,6/16/22,6/17/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,180784,180864,180864,180864,180864,181120,181178,181236,181465,181534
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,276518,276583,276638,276690,276731,276731,276821,276821,276821,277141
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265909,265920,265925,265925,265927,265937,265943,265952,265964,265968
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,43224,43224,43224,43224,43224,43224,43224,43449,43449,43449
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99761,99761,99761,99761,99761,99761,99761,99761,99761,99761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657879,657879,657879,657879,657879,657879,657879,658100,658100,658100
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11822,11822,11822,11822,11822,11822,11822,11822,11822,11823
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,322790,322919,323058,323058,323058,323283,323337,323654,323654,324025
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,253779,253779,254031,254031,254098,254155,254155,254387,254502,254753